@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: rgb(247,223,226);
}
.border{
    box-shadow: 0px 0px 8px black;
    border-radius: 7px;
    width: 780px;
    height: 480px;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.content-1{
    grid-column: 1/2;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: white;
}
.content-1 h1{
    text-align: center;
    margin-top: 48px;
    font-weight:900;
}
.logo{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.logo-1 img{
    margin-left: 8px;
    margin-top: 7px;
    
}
.logo-2 img{
    margin-left: 8px;
    margin-top: 7px;
}
.logo-1,.logo-2{
    border: 0.5px rgb(204, 203, 203) solid;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    margin-right: 16px;
}
.form{
    text-align: center;
    margin-top: 50px;
}
.form p{
    font-weight:300 ;
    font-size: 0.9rem;
    margin-bottom: 6px;
}
input{
    display: block;
    margin: auto;
    width: 280px;
    height: 45px;
    margin-bottom: 13px;
    background-color: rgb(238,238,238);
    border: 2px solid rgb(255, 255, 255);
}
.login{
    text-align: center;
    margin-top: 15px;
}
.login p{
    font-weight: 300;
}
button{
    width: 140px;
    height: 43px;
    border-radius: 50px;
    background-color: rgb(255,49,4);
    border: 2px solid white;
    color: white;
    margin-top: 13px;
}
.content-2{
    grid-column: 2/3;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: antiquewhite;
    background-color: rgb(255,40,70);
    text-align: center;
    color: white;
}
.text h1{
    font-weight: 900;
    margin-top: 1px;
}
.text{
    margin-top:150px;
}
.para{
    margin-top: 20px;
    font-weight: 300;
}
